.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.input-border {
  border-bottom: 1px solid gray;
  width: 100%;
}

.ant-input-affix-wrapper {
  padding: 4px 0px !important
}

.container {
  max-width: 1200px;
  width: 80%;
  margin:auto;
}

.d-flex {
  display: flex;
}

.text-left {
  text-align: left;
}

.left {
  width: 100%;
}

.right {
  width: 100%;
}

.left__check-box {
  margin-top: 20px;
  font-size: 20px;
}

.ant-checkbox {
  margin-right: 10px;
}

.bottom__button {
  display: block;
  font-size: 30px;
  width: 160px;
  height: 80px;
  background-color: #6EADE3;
}

.w-100 {
  width: 100%;
}

.bottom {
  align-items: center;
  justify-content: center;
  display: flex;
}

.bottom__label {
  text-align: center;
  text-decoration: underline;
  font-size: 20px;
  cursor: pointer;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
